body {
background-size: cover;
/*background-attachment: fixed;*/
background-repeat: no-repeat;
background-image: url("../img/fondo.jpg");
padding-left: 20%;
padding-right: 20%;
}
ul{
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  text-align: justify;
  position: relative;
  clear: both;
}
.verde{
  color:#659140;
}
.colort{
  color: #474446;
}
img{
  padding: 0.5vh;
}
.content {
background-color: rgba(255, 240, 217, 0.82);
}
.izq{
  background-color: rgba(228, 200, 223, 0.82);
  padding-top: 2%;
}
.primary{
 color:#FFFFFF!important;
}
.enlace{
  padding-left: 1vw;
  padding-bottom: 1vh;
}
.txtenlace{
      color: #659140!important;
      font-weight: bold;
}
.comentario{
  padding-top:1vh;
}
.fondo{
  background-color: rgba(235, 128, 85, 0.3);
}
.fondo1{
  background-color: rgba(197, 105, 197, 0.3);
}
div{
  padding: 0.5vh 0.5vw;
}
.avtr{
  width: 100%;
}
/*tablets*/
@media only screen and (max-width: 768px){

}
/*smarphones*/
@media only screen and (max-width: 600px){

}
