/*div{
  border: 1px solid black;
  padding: 2px;

}*/
ul{
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  text-align: justify;
  position: relative;
  clear: both;
}
h1, h3{
  color:#659140;
}
img{
  padding: 0.5vh;
}

.content {

/*background-color: rgba(200, 200, 200, 0.42);
}
body {
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-image: url("../img/fondo.jpg");
}*/
