ul{
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  text-align: justify;
  position: relative;
  clear: both;
}
.verde{
  color:#659140;
}
.colort{
  color: #474446;
}
img{
  padding: 0.5vh;
}

.content {
background-color: rgba(255, 240, 217, 0.82);
}
body {
background-size: cover;
/*background-attachment: fixed;*/
background-repeat: no-repeat;
background-image: url("../img/fondo.jpg");
padding-left: 20%;
padding-right: 20%;
}
.izq{
  background-color: rgba(228, 200, 223, 0.82);
  padding-top: 2%;
}
.primary{
 color:#FFFFFF!important;
}
.enlace{
  padding-left: 1vw;
  padding-bottom: 1vh;
}
.txtenlace{
      color: #659140!important;
      font-weight: bold;
}
.filacoment{
  border-top: 0.5px solid #659140;
  border-bottom: 0.5px solid #659140;
}
.comentario{
  padding-top:1vh;
}
.fondo{
  background-color: blue;
}
@media only screen and (max-width: 768px){

  .slogan{
    text-align: center;
    margin-top: 8vh;
    }
    div{
      padding: 0.5vh 0.5vw;
    }
}
/*smarphones*/
@media only screen and (max-width: 600px){
  .slogan{
    text-align: center;
    margin-top: 4vh;
    }
    div{
      padding: 0.5vh 0.5vw;
    }
    .btn{
    width: 10%;
    }
}
